<!DOCTYPE html>

<html>
<header>
    <title>Escape from Kudrovo</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link href="../public/styles/style.css"  rel="stylesheet" type="text/css">
</header>
<body>
    <div class="game_info">
        <div class="health">
            Health: <div id="health"></div>
        </div>
        <div class="score">
            Score: <div id="score"></div>
        </div>

    </div>
    <img id="source_image" src="../public/images/preview.jpg">
    <img id="source_image" src="../public/images/grass_and_water_64X64.png">
    
    <canvas id="screen" class="canvas">
    </canvas>
    <script src="../public/scripts/main.js" type="module">
        
    </script>
    

</body>
</html> 