<!DOCTYPE html>
<meta charset="utf-8" />
<html>

<head>
    <title>Escape from Kudrovo</title>
    <link href="../public/styles/record.css"  rel="stylesheet" type="text/css">
</head>

<body>
    <div class="game_over_grid">
        <div class="column" id="numbers_column">
            <div class="column_name">№</div>
        </div>
        <div class="column" id="names_column">
            <div class="column_name">Username</div>
        </div>
        <div class="column" id="scores_column">
            <div class="column_name">Score</div>
        </div>
    </div>
    <script type="module" src="../public/scripts/record.js"></script>
</body>

</html>