
#source_image{
    display: none;
}

body{
    background-image: linear-gradient(90deg, #A18A8B,	#897879);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.game_info{
    display: flex;
    flex-direction: column;
    font-size: x-large;

}

.health{
    border-radius: 2vh;
    border-color: black;
    border-style: outset;
}

.score{
    border-radius: 2vh;
    border-color: black;
    border-style: outset;
}



